{% extends "base.html" %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card my-5">
                    <div class="card-body card-login">
                        <h5 class="card-title text-center my-3">Error 404 - Page does not exist!</h5>
                        <h5 class="card-title text-center my-3"><a href="/">Click here to return home.</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}