{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark main-nav">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav w-100 my-2 flex-nowrap">
                <li class="nav-item active">
                    <a class="navbar-brand" href="/">CVFeed</a>
                </li>
            </ul>
            <ul class="nav navbar-nav my-2 justify-content-center">
                <li class="nav-item">
                    <form class="d-flex">
                        <div class="dropdown">
                            <input class="form-control search-query" type="text" placeholder="Search..." data-bs-toggle="dropdown" aria-label="search">
                            <ul class="dropdown-menu search-dropdown-menu" aria-labelledby="searchDropdown">
                                <li>
                                    <div class="container">
                                        <button type="button" class="btn btn-link w-100 text-start">Search by #tag</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="container">
                                        <button type="button" class="btn btn-link w-100 text-start">Search by @username</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav w-100 my-2 justify-content-end">
                <li class="nav-item">
                    <form class="form-inline">
                        <a class="btn btn-primary me-2" href="/post" role="button">New Post</a>
                    </form>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/accounts/profile/">Profile</a></li>
                        <li><a class="dropdown-item" href="/accounts/settings/">Settings</a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item text-danger" href="/accounts/logout/">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}