{% extends "base_nav.html" %}

{% block title %}CVFeed - New Post{% endblock %}

{% block content %}
    <div class="container h-auto">
        <div class="row align-items-center justify-content-center">
            <div class="col-xs-9 mx-auto">
                <div class="card my-5">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="{{ post.image.url }}" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                            <hr/>
                            <p>{{ post.description }}</p>
                        </div>
                        {% if comments|length > 0 %}
                            <hr/>
                            <div class="text-start">
                            {% for c in comments %}
                                <p><span class="fw-bold">{{ c.author.username }}:</span> {{ c.comment }}</p>
                            {% endfor %}
                            </div>
                        {% endif %}
                        <hr/>
                        <form action="/post/{{ post.id }}/" method="POST" role="form">
                            {% csrf_token %}
                            <div class="input-group mt-2 mb-3">
                                <textarea class="form-control" name="comment" id="id_comment" rows="3" maxlength="512" placeholder="Comment..."></textarea>
                            </div>
                            <div class="col text-start">
                                <input class="btn btn-primary" type="submit" value="Post comment">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/upload_preview.js"></script>
{% endblock %}