{% extends "base_nav.html" %}

{% block title %}CVFeed - New Post{% endblock %}

{% block content %}
    <div class="container h-100">
        <h2 class="text-white display-6">{{ viewedUser.username }}</h2>
        <h5 class="text-white display-6">Since {{ viewedUser.date_joined | date:"M, Y" }}</h5>
        <div class="row align-items-center justify-content-center">
            <div class="col-xs-9 mx-auto">
                {% if posts|length == 0 %}
                    <div class="card my-5">
                        <div class="card-body text-center">
                            <h4>This user does not have any posts yet.</h4>
                            <h5>Invite them to share!</h5>
                        </div>
                    </div>
                {% else %}
                    {% for p in posts %}
                        <div class="card my-5">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="{{ p.image.url }}" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                                    <p>{{ p.description }}</p>
                                </div>
                                <div class="text-end">
                                    <a class="" href="/post/{{ p.id }}/">View comments</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/upload_preview.js"></script>
{% endblock %}