body
{
  background-color: #eee;
}

h1, p
{
  color: gray;
  font-family: Courier, "Lucida Console", monospace;
}

table
{
    border-collapse: collapse;
    border-style: hidden;
    align-self: auto;
    margin-top: 20px;
}

td
{
    border: 3px solid black;
}

.container
{
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}