{% extends "base.html" %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card my-5">
                    <div class="card-body card-login">
                        <h5 class="card-title text-center my-3">Successfully logged out!</h5>
                        <h6 class="text-center my-3"><a href="/accounts/login/">Click here to log back in.</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}