{% extends "base.html" %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card my-5">
                    <div class="card-body card-login">
                        <h5 class="card-title text-center my-3">Register</h5>
                        <form action="/accounts/register/" method="POST" role="form">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="email"><i class="bi bi-person-fill"></i></span>
                                <input id="id_username" name="username" type="text" class="form-control"
                                       placeholder="username" aria-label="username">
                            </div>
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                    <div class="alert alert-danger text-center" role="alert">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="email"><i class="bi bi-envelope"></i></span>
                                <input id="id_username" name="email" type="email" class="form-control"
                                       placeholder="email@fau.edu" aria-label="email">
                            </div>
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <div class="alert alert-danger text-center" role="alert">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="password"><i class="bi bi-lock-fill"></i></span>
                                <input id="id_password1" name="password1" type="password" class="form-control"
                                       placeholder="password" aria-label="password">
                            </div>
                            {% if form.password1.errors %}
                                {% for error in form.password1.errors %}
                                    <div class="alert alert-danger text-center" role="alert">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="password"><i class="bi bi-lock-fill"></i></span>
                                <input id="id_password2" name="password2" type="password" class="form-control"
                                       placeholder="confirm password" aria-label="password2">
                            </div>
                            {% if form.password2.errors %}
                                {% for error in form.password2.errors %}
                                    <div class="alert alert-danger text-center" role="alert">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="input-group my-3">
                                <div class="col text-center">
                                    <input class="btn btn-secondary w-25" type="submit" value="Register">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}